<% if user_signed_in? %>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
      </div> <!-- class = card-header -->
      <div class="card-body">
        <%= render "layouts/review_form" %>
      </div><!-- class = card-body -->
    </div><!-- class = card -->
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <p> You are reviewing: <%= @product.name %> </p>
      </div> <!-- class = card-header -->
      <div class="card-body">

      </div><!-- class = card-body -->
    </div><!-- class = card -->
  </div>
</div><!-- class = row -->
<% else %>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
      </div> <!-- class = card-header -->
      <div class="card-body">
        You are not authorized to submit a review! Please log in first!
      </div><!-- class = card-body -->
    </div><!-- class = card -->
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">

      </div> <!-- class = card-header -->
      <div class="card-body">

      </div><!-- class = card-body -->
    </div><!-- class = card -->
  </div>
</div><!-- class = row -->
<% end %>
